body {
}
p{
  margin-right: 200px;
  margin-left: 200px;
}
.rules {
  text-align: center;
  margin-top: 150px;
}
#timer {
    position: absolute;
    right: 150px;

}
#start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
#answer-btns{
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
#question{
  font-size: 35px;
  
}
.end-screen{
  text-align: center;
  margin-top: 150px;
}
.question-container{
  margin-top: 150px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

  }

  .btn:hover {
    border-color: black;
  }
  .container {
      text-align: center;
  }
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  

.time {
  width: 100%;
  text-align: center;
}

.time::after {
  content: " ";
  display: block;
  clear: both;
}

#seconds {
  font-size: 2em;
  float: left;
}
#submit-btn{
  margin-top: 25px;
}